<!-- contact.component.html -->
<form (ngSubmit)="createContact()" [formGroup]="contactForm" novalidate autocomplete="off">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" formControlName="name" required>
  <!-- Add error messages for validation if needed -->

  <label for="lastname">Lastname:</label>
  <input type="text" id="lastname" name="lastname" formControlName="lastname" required>
  <!-- Add error messages for validation if needed -->

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" formControlName="email" required>
  <!-- Add error messages for validation if needed -->

  <label for="message">Message:</label>
  <textarea id="message" name="message" formControlName="message" required></textarea>
  <!-- Add error messages for validation if needed -->

  <button type="submit">Submit</button>
</form>
